* {
  padding: 0;
  margin: 0;
}

header p {
  font-size: larger;
  font-weight: lighter;
  text-align: center;
}

main {
  width: 100vw;
}

#interface {
  display: flex;
  height: auto;
}

#graphic {
  display: flex;
  justify-content: center;
  margin: 5px;

}

#graphicCanvas {
  border: 1px solid black;
}

#XYRChoice {
  display: flex;
  justify-content: center;
  width: 100%;
}



#table {
  box-sizing: border-box;
  width: 80%;
  margin: 20px 70px;
  vertical-align: top;
  border: 1px solid black;
  border-collapse: collapse;
}

#table td {
  text-align: center;
  width: 20%;

}

@media screen and (max-width: 1280px) {
  #interface {
    display: block;
  }
}